.data-explorer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.container {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.container .border-right {
  border-right: 1px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  min-width: 250px;
  flex-grow: 1;
  border: 1px black;
  overflow-y: auto;
}

.main {
  flex-grow: 999;
  border: 1px green;
}

.margin-top-0 {
  margin-top: 0;
}

.nav-tree {
  display: flex;
  flex-grow: 1;
}